/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  display: block;
  height: 400px;
  width: 100%;
}

/* CSS for responsive iframe */
/* ========================= */

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */

#Iframe-Map {
  display: none;
  max-width: 600px;
  max-height: 480px; 
  overflow: hidden;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */
  
  /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
    -webkit-overflow-scrolling: touch; overflow: auto; */
  
}
 
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  border: none;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-650x315 {
  padding-bottom: 56.25%;
}
.responsive-wrapper-wxh-600x480 {
  padding-bottom: 80%;
}

/* at mobile device sizes suppress Mapbox map which is not mobile friendly and display responsive iframe map instead. */
@media only screen and (max-width: 736px) {
  #map {
    display: none;
  }
  #Iframe-Map {
    display: block;
  }
}

.container-fluid{
	background-color:#72CCD8;
}


.form-control{
	margin-top: 8px;
}

.tabs_head{
	border-top: solid 1px gray;
	border-bottom:solid 1px gray;
}
.tabs_head>span{
	display:inline-block;
	cursor:pointer;
	padding:0px 3px;
	border-right:solid 1px gray;
	color:black;
}
.tabs_head>span.tab_selected{
	color:white;
	background-color:#72CCD8;
}
.tabs_content>div{
	display:block;
	overflow:hidden;
	max-height:0px;
}
.tabs_content>div.tab_selected{
	max-height:10000px;
}

form{
	margin-left:20px;
}

th{
	border-top:solid 1px black;
	cursor:pointer;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
