<!DOCTYPE html>
<html  ng-app="store">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Café à 1euro dans Paris</title>
		<script type="text/javascript" src="./vendor/angular/angular.js"> </script>
		<script type="text/javascript" src="./js/script.js"> </script>
		<link rel="stylesheet" type="text/css" href="./css/style.css" />
		<link rel="stylesheet" type="text/css" href="./vendor/bootstrap/bootstrap.css" />
		
	</head>

	<body ng-controller="storeController as storectrl">			
		<nav class="navbar navbar-default">
			
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="./index.html">Café à 1euro dans Paris</a>
				</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="./index.html">List</a></li>
				<li><a href="./map.html">Map</a></li>
				<li><input type="text" class="form-control" placeholder="Search" ng-model="searchText"></li>
			</ul>
					
			</div>
		</nav>
		
		<div class="table-responsive">
			<table class="table">
			<thead>
			<tr>
			<th class="col-md-4" ng-click="storectrl.tri('fields.nom_du_cafe')">
			Nom du café
			</th><th class="col-md-4">
			Adresse
			</th><th class="col-md-4" ng-click="storectrl.tri('fields.arrondissement')">
			Arrondissement
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="cafe in storectrl.list|orderBy:storectrl.order_by|filter:searchText">
			<td class="col-md-4">{{cafe.fields.nom_du_cafe}}
			</td><td class="col-md-4">{{cafe.fields.adresse}}
			</td><td class="col-md-4">{{cafe.fields.arrondissement}}
			</td>			
		</tr>
		</tbody>
		</table>
		</div>
		
	</body>
</html>