<!DOCTYPE html>
<html  ng-app="store">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Café à 1euro dans Paris</title>
		<script type="text/javascript" src="./vendor/angular/angular.js"> </script>
		<script type="text/javascript" src="./js/script.js"> </script>
		<link rel="stylesheet" type="text/css" href="./css/style.css" />
		<link rel="stylesheet" type="text/css" href="./vendor/bootstrap/bootstrap.css" />
		
	</head>

	<body ng-controller="storeController as storectrl">
		<div class="row">
			<div class="col-md-4" ng-click="storectrl.tri('fields.nom_du_cafe')">
				Nom du café
			</div><div class="col-md-4">
			Adresse
			</div><div class="col-md-4" ng-click="storectrl.tri('fields.arrondissement')">
			Arrondissement
			</div>
		</div>
		<div class="row" ng-repeat="cafe in storectrl.list|orderBy:storectrl.order_by">
			<div class="col-md-4">{{cafe.fields.nom_du_cafe}}
			</div><div class="col-md-4">{{cafe.fields.adresse}}
			</div><div class="col-md-4">{{cafe.fields.arrondissement}}
			</div>
		</div>
	</body>
</html>