<!DOCTYPE html>
<html  ng-app="store">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Café à 1euro dans Paris</title>
		<script type="text/javascript" src="./vendor/angular/angular.js"> </script>
		<script type="text/javascript" src="./js/script.js"> </script>
		<link rel="stylesheet" type="text/css" href="./css/style.css" />
		<link rel="stylesheet" type="text/css" href="./vendor/bootstrap/bootstrap.css" />
		
	</head>

	<body ng-controller="storeController as storectrl">			
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="./index.html">Café à 1euro dans Paris</a>
				</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="./index.html">List</a></li>
				<li><a href="./map.html">Map</a></li>
				<li><input type="text" class="form-control" placeholder="Search" ng-model="searchText"></li>
			</ul>	
			</div>
		</nav>
		
		<div class="tabs_head">
		<span ng-click="storectrl.selectTab(1)"
			ng-class="{'tab_selected':storectrl.selectedTab===1}"> 
			Liste des cafés
		</span><span 
			ng-click="storectrl.selectTab(2)"
			ng-class="{'tab_selected':storectrl.selectedTab===2}">
			Ajouter un café
		</span></div>
		
		<div class="tabs_content">
		<div ng-class="{'tab_selected':storectrl.selectedTab===1}">
			<div class="table-responsive">
			<table class="table">
			<thead>
			<tr>
			<th class="col-md-4" ng-click="storectrl.tri('fields.nom_du_cafe')">
			Nom du café
			</th><th class="col-md-4">
			Adresse
			</th><th class="col-md-4" ng-click="storectrl.tri('fields.arrondissement')">
			Arrondissement
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="cafe in storectrl.list|orderBy:storectrl.order_by|filter:searchText">
			<td class="col-md-4">{{cafe.fields.nom_du_cafe}}
			</td><td class="col-md-4">{{cafe.fields.adresse}}
			</td><td class="col-md-4">{{cafe.fields.arrondissement}}
			</td>			
		</tr>
		</tbody>
		</table>
		</div>
		</div>
		
		<div ng-class="{'tab_selected':storectrl.selectedTab===2}">
			<form 
			name="infoForm"
			ng-submit="infoForm.$valid && storectrl.on_submit()">
			Nom du café :<input type="text" 
			ng-model="storectrl.cafe.fields.nom_du_cafe"	
			required/>
			</br>
			Adresse :<input type="text" 
			ng-model="storectrl.cafe.fields.adresse"	
			required/>
			</br>
			Arrondissement :<select 
			ng-model="storectrl.cafe.fields.arrondissement"
			required>
				<option value="75001">75001</option>
				<option value="75002">75002</option>
				<option value="75003">75003</option>
				<option value="75004">75004</option>
				<option value="75005">75005</option>
				<option value="75001">75006</option>
				<option value="75002">75007</option>
				<option value="75003">75008</option>
				<option value="75004">75009</option>
				<option value="75005">75010</option>
				<option value="75001">75011</option>
				<option value="75002">75012</option>
				<option value="75003">75013</option>
				<option value="75004">75014</option>
				<option value="75005">75015</option>
				<option value="75001">75016</option>
				<option value="75002">75017</option>
				<option value="75003">75018</option>
				<option value="75004">75019</option>
				<option value="75005">75020</option>
			</select></br>
			<input class="button" type="submit" value="Ajouter"/>
		</form>	
		</div></div>
		
		
		
	</body>
</html>